/*================ MAIN CSS =================*/
/*===========================================*/
  html {
    width: 175px;
  }

  body {
    margin: 0px;
  }

  .header {
    display: block;
    background: rgb(105,203,212);
    border-bottom: 1px solid white;
    text-align: center;
  }

  h1 {
    margin: 0;
    padding: 5px;
    color: white;
  }

  form {
    margin-bottom: 10px;
    padding-left: 75px;
    padding-top: 10px;
  }

  a {
    text-align: center;
    color: black;
    outline: none;
  }

  .footer {
    display: block;
    text-align: center;
    padding-bottom: 5px;
  }

  .labelword {
    position: relative;
    left: 40px;
  }

/*============= CENSORED OPTION CHECKBOX ================*/
/*=======================================================*/
  input[type="checkbox"].graphic {
    display: none;
  }

  input[type="checkbox"].graphic + label,
  input[type="checkbox"].graphic + label > .flag {
    padding: 0;
    display: inline-block;
  }

  input[type="checkbox"].graphic + label {
    position: relative;
    font-size: 16px;
    right: 58px;
    font-family: Verdana;
    color: #333;
  }

  input[type="checkbox"].graphic + label > .flag {
    position: absolute;
    right: 0;
    left: -45px;
    top: -15px;
    bottom: -15px;
  }

  /* checked state indicator images */
  input[type="checkbox"].graphic + label > .flag {
    background-repeat: no-repeat;
    background-position: 47px 50%;
    content: '';
    z-index: 2;
    transform: scale(1) rotate(0deg);
    background-size: 35px;
  }

  input[type="checkbox"].graphic:checked + label > .flag,
  input[type="checkbox"].graphic + label:active > .flag {
    background-image: url(http://cl.ly/image/0v3Y1M1D2l1f/tick.png);
    transform: scale(0.9) rotate(360deg);
  }

  input[type="checkbox"].graphic + label > .flag,
  input[type="checkbox"].graphic:checked + label:active > .flag {
    background-image: url(http://cl.ly/image/0B0E1b0z003I/cross.png);
    transform: scale(0.9) rotate(0deg);
  }

  /* animation */
  input[type="checkbox"].graphic + label > .flag {
    transition: all 0.5s cubic-bezier(1, -0.36, 0, 1.385);
    transition-timing-function: cubic-bezier(1, -0.36, 0, 1.385);
  }


  /*==================== ON/OFF SWITCH ===========================*/
  /*==============================================================*/

  .switch {
    margin-bottom: 10px;
  }

  .switchword {
    font-family: Verdana;
    font-size: 16px;
    position: relative;
    bottom: 4px;
    left: 3px;

    color: #333;
  }

  .switch input {
    display: none;
  }
  .switch label {
    -webkit-appearance: none;
    display: inline-block;
    height: 20px;
    width: 36px;
    border-radius: 50px;
    margin: 10px 0 0px 20px;
    background: #de2509;
    position: relative;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s;
  }
  .switch label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    border-radius: 16px;
    z-index: 1;
    animation: uncheck 0.3s ease-out;
    transform-origin: 0 0;
  }
  .switch input:checked + label {
    background: rgba(11,220,76,.9);
  }
  .switch input:checked + label:before {
    transform: translateX(16px);
    animation: check 0.3s ease-out;
    transform-origin: 100% 0;
  }

          /*==== animation ====*/
  @keyframes uncheck {
    0% {
      transform: translateX(16px);
    }
    20% {
      transform: translateX(7px) scaleX(1.5);
    }
    40% {
      transform: translateX(0px) scaleX(0.75);
    }
    70% {
      transform: translateX(4px) scaleX(1);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes check {
    0% {
      transform: translateX(1px);
    }
    20% {
      transform: translateX(7px) scaleX(1.5);
    }
    40% {
      transform: translateX(16px) scaleX(0.75);
    }
    70% {
      transform: translateX(11px) scaleX(1);
    }
    100% {
      transform: translateX(16px);
    }
  }
